.grid-box {
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-title {
    font-size: 15pt;
}

.button-select {
    margin-bottom: -20px;
    margin-top: 5px;

}

.check-size {
    width: 150px;
}