.footer {
    width:100%;
    height: 200px;
    background-color: #021B35;
}

.main-info {
    height: 100%;
}

.circle {
    border-radius: 100%;
    fill: white;
    width: 50px;
    height: 50px;
}

.end-text {
    color: white;
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
 }