.background {
    margin:1em;
    background-size: 100% 100%;
    background-repeat: none;
    background-position: center;
    border-radius: 1rem;
    background-blend-mode: color-dodge;
    color:white;
    position: relative;
    display: flex;
}

.overlay {
    width: 100%;
    height:100%;
    padding-top:1em;
    padding-bottom: 1em;
    border-radius: 1rem;
    background-color: #00000033;
    backdrop-filter: blur(3px) grayscale(50%);
}